
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.cards {
    max-width: 960px;
    margin: 0 auto 30px;
}

article {
    position: relative;
}

.article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 10px 0;
    font-size: 16pt;
    font-family: "Georgia", Times, Times New Roman, serif;
    font-weight: bold;
    background-color: #4aaaa5;
}
/* Thanks to: https://grid-cats.glitch.me/ */